$brand-primary: #008490;

$line-height-base: 1.8;
$line-height-small: 1.8;
$headings-line-height:    1.2 !default;

// Core variables and mixins
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/normalize";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/print";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/type";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/code";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/grid";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/tables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/forms";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/buttons";

// Components
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/component-animations";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/dropdowns";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/button-groups";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/navs";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/navbar";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/labels";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/badges";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/thumbnails";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/media";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/list-group";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/panels";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-embed";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/wells";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/close";

// Utility classes
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/utilities";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities";

// Retina Image Mixin

/**
 * Allows you to use retina images at various pixel densities.
 * Examples:
 *
 *   @include retina(/images/mypic.jpg, 2);
 *   @include retina(/images/mypic.jpg, 3, 100px 100px, left top no-repeat transparent);
 *
 * @param  {Value}  $path               The path to the file name minus extension.
 * @param  {Number} $cap:    2          The highest pixel density level images exist for.
 * @param  {Value}  $size:   auto auto  The intended width of the rendered image.
 * @param  {Value}  $extras: null       Any other `background` values to be added.
 */
@mixin retina($path, $cap: 2, $width: auto, $height: auto, $extras: null) {

  /*
   * Set a counter and get the length of the image path.
   */
  $position: -1;
  $strpath: '#{$path}';
  $length: str-length($strpath);

  /*
   * Loop ver the image path and figure out the
   * position of the dot where the extension begins.
   */
  @for $i from $length through $length - 10 {
    @if $position == -1 {
      $char: str-slice($strpath, $i, $i);
      @if str-index($char, ".") == 1 {
        $position: $i;
      }
    }
  }

  /*
   * If we were able to figure out where the extension is,
   * slice the path into a base and an extension. Use that to
   * calculate urls for different density environments. Set
   * values for different environments.
   */
  @if $position != -1 {
    $ext: str-slice($strpath, $position + 1, $length);
    $base: str-slice($strpath, 1, $position - 1);
    $at1x_path: "#{$base}.#{$ext}";
    $at2x_path: "#{$base}@2x.#{$ext}";

    /*
     * Set a base background for 1x environments.
     */
    display: inline-block;
    background: url("#{$at1x_path}") $extras;
    max-width: 100%;
    width: #{$width}px;
    height: 0;
    padding-top: percentage($height / $width);
    background-size: contain;

    /*
     * Create an @2x-ish media query.
     */
    @media all and (-webkit-min-device-pixel-ratio: 1.5),
    all and (-o-min-device-pixel-ratio: 3/2),
    all and (min--moz-device-pixel-ratio: 1.5),
    all and (min-device-pixel-ratio: 1.5) {
      background: url("#{$at2x_path}") $extras;
      background-size: contain;
    }

    /*
     * Create media queries for all environments that the user has
     * provided images for.
     */
    @if $cap >= 2 {
      @for $env from 2 through $cap {
        $suffix: "@#{$env}x";
        @media (-webkit-min-device-pixel-ratio: $env),
        (min-resolution: $env * 96dpi) {
          background: url("#{$base}#{$suffix}.#{$ext}") $extras;
          background-size: contain;
        }
      }
    }

    /*
     * If anything went wrong trying to separate the file from its
     * extension, set a background value without doing anything to it.
     */
  } @else {
    display: inline-block;
    background: url("#{$path}") $extras;
    max-width: 100%;
    width: #{$width}px;
    height: 0;
    padding-top: percentage($height / $width);
    background-size: contain;
  }

}

$fa-font-path: "../styles/fonts";
@import "../../bower_components/font-awesome/scss/font-awesome";

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../styles/fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
  url('../styles/fonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../styles/fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../styles/fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../styles/fonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../styles/fonts/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('../styles/fonts/lato-v14-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Lato Light'), local('Lato-Light'),
  url('../styles/fonts/lato-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../styles/fonts/lato-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../styles/fonts/lato-v14-latin-300.woff') format('woff'), /* Modern Browsers */
  url('../styles/fonts/lato-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../styles/fonts/lato-v14-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-300italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url('../styles/fonts/lato-v14-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Lato Light Italic'), local('Lato-LightItalic'),
  url('../styles/fonts/lato-v14-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../styles/fonts/lato-v14-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../styles/fonts/lato-v14-latin-300italic.woff') format('woff'), /* Modern Browsers */
  url('../styles/fonts/lato-v14-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../styles/fonts/lato-v14-latin-300italic.svg#Lato') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'icomoon';
  src: url('../styles/fonts/icomoon.eot?tjmsap');
  src: url('../styles/fonts/icomoon.eot?tjmsap#iefix') format('embedded-opentype'),
  url('../styles/fonts/icomoon.ttf?tjmsap') format('truetype'),
  url('../styles/fonts/icomoon.woff?tjmsap') format('woff'),
  url('../styles/fonts/icomoon.svg?tjmsap#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-easel:before {
  content: "\e903";
}

.icon-home-outline:before {
  content: "\e904";
}

.icon-monitor:before {
  content: "\e905";
}

.icon-laptop:before {
  content: "\e906";
}

.icon-bag:before {
  content: "\e908";
}

.icon-logo-natur:before {
  content: "\e900";
}

.icon-logo-diy:before {
  content: "\e901";
}

.icon-logo-antik:before {
  content: "\e902";
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  font-family: "Lato", sans-serif;
  color: #333;
  padding: 0;
}

h1 {
  font-size: $font-size-h1;
  line-height: 1.4em;
  letter-spacing: 2px;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
  line-height: 1.4em;
  letter-spacing: 1px;
}

h4 {
  line-height: 1.6em;
}

@media (max-width: $screen-xs-max) {
  h1 {
    font-size: $font-size-h2;
  }
  h2 {
    font-size: $font-size-h3;
  }
  h3 {
    font-size: $font-size-h4;
  }
}

button:focus {
  outline: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.text-default {
  color: $headings-color;
}

.nopadding {
  padding: 0;
}

.margin-t-50 {
  margin-top: 50px;
}

.margin-t-20 {
  margin-top: 20px;
}

.margin-b-50 {
  margin-bottom: 50px;
}

.margin-b-20 {
  margin-bottom: 20px;
}

.margin-b-0 {
  margin-bottom: 0px;
}

.margin-lr {
  margin-left: 15px;
  margin-right: 15px;
}

.margin-l {
  margin-left: 15px;
}

.margin-r {
  margin-right: 15px;
}

.halign-center {
  text-align: center !important;
}

//Phones (XS)
@media (max-width: $screen-xs-max) {

  .margin-t-20-xs {
    margin-top: 20px;
  }

  .margin-b-50-xs {
    margin-bottom: 50px;
  }

  .halign-center-xs {
    text-align: center;
  }

  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 0 !important;
    border-top: 0 !important;
    background-color: rgb(247, 247, 247) !important;
  }

}

//Tablets (SM)
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  h4 {
    font-size: 16px;
  }
}

//Tablets and up (SM, MD, LG)
@media (min-width: $screen-sm-min) {
  .vcenter {
    display: flex;
    align-items: center;
  }

  .flortrait-section-white {
    padding-bottom: 40px;
  }
}

@media (min-width: $screen-lg-min) {
  .margin-t-40-lg {
    margin-top: 40px;
  }
}

.hero-text-box {
  padding-top: 0;
  padding-bottom: 0;
}

/*!
 * -----------------
 * IMAGES FLORTRAIT
 * -----------------
 */
.img-flortrait-s01 {
  @include retina('../images/flortrait/flortrait-s01.jpg', 2, 600, 700, no-repeat left top);
}

.img-flortrait-s01xs {
  @include retina('../images/flortrait/flortrait-s01xs.jpg', 2, 600, 600, no-repeat center top);
}

.img-flortrait-natur_bunt {
  @include retina('../images/flortrait/flortrait-natur_bunt.jpg', 2, 500, 609, no-repeat center);
}

.img-flortrait-twin_diy {
  @include retina('../images/flortrait/flortrait-2er_diy.jpg', 2, 500, 478, no-repeat center);
}

.img-flortrait-antik-lilastrauss {
  @include retina("../images/flortrait/flortrait-antik_lilastrauss.jpg", 2, 500, 706, no-repeat center);
}

// --> END FLORTRAIT IMAGES

.flortrait-section-gray {
  background-color: #f9f9f9;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-top: 15px;
}

.flortrait-logo-headline {
  font-size: 50px;
}

.flortrait-section-white {
  padding-top: 10px;
}

.flortrait-order-choice-btn {
  width: 100%;
  font-size: 32px !important;
  text-align: left;
}

@media (min-width: $screen-md-min) {

  h1, .h1 {
    font-size: 36px;
  }

  .hero-text-box {
    padding-top: 160px;
    padding-bottom: 40px;
  }

  .flortrait-section-top {
    margin-bottom: 80px;
  }

  .flortrait-section-gray {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .flortrait-section-a-heading {
    text-align: left;
    padding-top: 80px;
  }

  .flortrait-preorder-bg01 {
    width: 40%;
    height: 677px;
  }
}

.navbar {
  background-color: rgba(255, 255, 255, 0.9);
  margin-bottom: 0;
}

.navbar-default {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: transparent;
  border-bottom: 1px solid;
}

@media (min-width: $screen-sm-min) {
  .navbar-default, .navbar-collapse {
    padding-right: 0;
  }
}

.navbar-toggle {
  border: none;
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    -ms-transform: rotate(45deg);
    -ms-transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    -ms-transform: rotate(-45deg);
    -ms-transform-origin: 10% 90%;
  }
}

.navbar-toggle.collapsed {
  .top-bar {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}

.subnav {
  margin: 0;
  top: 0;
  z-index: 1020;
  background-color: rgb(247, 247, 247);
  border-bottom: 1px solid #E1E1E1;
  padding: 0;
}

.subnav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.subnav.affix {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
}

.buy-btn {
  position: relative;
  float: right;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 8px;
}

.buy-btn:focus {
  outline: none;
}

/* contact headings */
.ch1 {
  font-size: $font-size-h1;
}

.ch2 {
  font-size: $font-size-h2;
}

.ch3 {
  font-size: $font-size-h3;
}

.cfa-small-icon-lift {
  font-size: 40px;
}

@media (max-width: $screen-xs-max) {
  .ch1 {
    font-size: $font-size-h2;
  }
  .ch2 {
    font-size: $font-size-h3;
  }
  .ch3 {
    font-size: $font-size-h4;
  }
  .cfa-small-icon-lift {
    font-size: 30px;
  }
}

@media (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
  .no-padding-r-sm {
    padding-left: 0;
  }
}

.footer {
  position: absolute;
  bottom: -55px;
  width: 100%;
  height: 55px;
  padding-top: 20px;
  background-color: rgba(189, 189, 189, 0.25);
  border-top: 1px #E1E1E1 solid;
}

.pad {
  padding: 10px;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.angular-google-map-container {
  height: 300px;
}

/* make sure browsers use the pointer cursor for anchors, even with no href */
a:hover {
  cursor: pointer;
}

.hand {
  cursor: pointer;
}

/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
@mixin no-padding($side) {
  @if $side == 'all' {
    .no-padding {
      padding: 0 !important;
    }
  } @else {
    .no-padding-#{$side} {
      padding-#{$side}: 0 !important;
    }
  }
}

@include no-padding("left");
@include no-padding("right");
@include no-padding("top");
@include no-padding("bottom");
@include no-padding("all");

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
  width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
   http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
