<div class="container-fluid margin-t-50" ng-cloak>
  <div class="row">
    <div class="col-md-offset-2 col-md-4">
      <h2>Kontakt:</h2>
    </div>
  </div>
  <div class="row" style="margin-top: 1%;">
    <div class="col-md-offset-2 col-md-3">
      <h3>
        <address>
          playful solutions<br>
          Anja Wippler<br>
          Könneritzstraße 25<br>
          D-01069 Dresden<br>
        </address>
      </h3>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <h3>
            <span class="glyphicon glyphicon-send" style="margin-right: 10px;"></span>
            anja.wippler@icloud.com
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>
            <span class="glyphicon glyphicon-phone" style="margin-right: 10px;"></span> +49 (0) 176 21534966
          </h3>
        </div>
      </div>

    </div>
  </div>
</div>
