<div class="container-fluid margin-t-50" id="homeRoot" ng-cloak="">
  <div class="row" style="margin-top: 30px;">
    <div class="col-sm-offset-1 col-sm-5">
      <img src="../images/flortrait-hero.svg" style="margin-bottom: 20px;"/>
    </div>
    <div class="col-sm-offset-1 col-sm-4 hero-text-box">
      <h3>Eine jahrtausendealte Form, reduziert auf ihre Silhouette, bildet erneut ein dreidimensionales
        Objekt von
        lebendiger Leichtigkeit.</h3>
      <h4><a ui-sref="flortrait">Mehr erfahren ></a></h4>
    </div>
  </div>
</div>
